.featured {
    height: 90vh;
    position: relative;

    .category {
        position: absolute;
        top: 80px;
        left: 50px;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 500px;
        color: white;

        select {
            background: var(--main-color);
            color: white;
            margin-left: 20px;
            cursor: pointer;
            padding: 5px;
            border: 1px solid white;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info {
        width: 35%;
        position: absolute;
        bottom: 100px;
        left: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 400px;
        }

        .buttons {
            display: flex;
            gap: 15px;

            button {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                border: none;
                font-size: 18px;
                font-weight: 500;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;

                &.play {
                    background-color: white;
                    color: var(--main-color);
                }

                &.more {
                    background-color: gray;
                    color: white;
                }

                span {
                    margin-left: 5px;
                }
            }
        }
    }
}